.gamers
    background-color: $color-blue-dark
    grid-column: col-start 7 / full-end 
    display: grid
    grid-template-columns: min-content max-content
    grid-gap: 4rem 2rem
    align-content: center
    justify-content: center
.gamers-header
    grid-column: 1 / -1
    justify-self: center
.gamers-img
    width: 7rem
.gamers-text
    align-self: center
        font-size: 1.6rem
.score
    font-size: 1.6rem
    color: $color-gray-dark
    font-weight: 300
