*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 1170px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 420px) {
  html {
    font-size: 40%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #AAAAAA;
  font-size: 1.6 rem;
  background-color: #F5F5F5;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
@media only screen and (max-width: 1170px) {
  .container {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  }
}
@media only screen and (max-width: 900px) {
  .container {
    grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content min-content 50vw repeat(3, min-content);
  }
}

.title-1 {
  font-size: 4.5rem;
  font-weight: 700;
  color: White;
}

.title-2 {
  font-size: 4rem;
  font-weight: 700;
  color: #F5F5F5;
  line-height: 100%;
}

.title-3 {
  font-size: 1.9rem;
  font-weight: 700;
  color: #425844;
}
.title-3_white {
  color: #F5F5F5;
}
.title-3_green-light {
  color: #F5F5F5;
}

.title-3 {
  font-size: 1.4rem;
  font-weight: 300;
  color: #61A568;
}

.cards {
  background-color: #F5F5F5;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem 6rem;
  padding: 15rem 0;
}
@media only screen and (max-width: 420px) {
  .cards {
    padding: 5rem 0;
  }
}

.card {
  background-color: #101D2C;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 4.5rem;
}

.card-img {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1/2;
}

.card-svg {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.card-title {
  grid-row: 1/2;
  grid-column: 1/-1;
  padding: 1.5rem 11.5rem;
  background-color: #425844;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  color: #F5F5F5;
  justify-self: center;
  align-self: end;
  width: 80%;
  transform: translateY(50%);
}

.btn-card {
  grid-column: 1/-1;
}

.content {
  margin-left: 2.5rem;
  display: flex;
}

.content p {
  font-size: 1.6rem;
  color: #F5F5F5;
  font-weight: 300;
}

.header {
  background-color: #101D2C;
  grid-column: col-start/col-end 6;
  display: grid;
  grid-template-rows: 1fr min-content minmax(10rem, min-content) 1fr;
  padding: 5rem 5rem 5rem 6rem;
  background-image: url(src/img/Rectangle_3.png);
}
@media only screen and (max-width: 900px) {
  .header {
    grid-column: full-start/full-end;
  }
}

.header-line-text {
  font-size: 1.6rem;
  font-weight: 700;
  color: #F5F5F5;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 2rem;
  align-items: center;
  margin-bottom: 1rem;
}
.header-line-text::before, .header-line-text::after {
  content: "";
  background-color: #AAAAAA;
  display: block;
  height: 0.1rem;
}

.images-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  grid-gap: 2rem;
}

.header img {
  height: 2.5rem;
  filter: brightness(70%);
}

.header-btn {
  justify-self: start;
  align-self: start;
}

.features {
  padding: 15rem 0;
  background-color: #F5F5F5;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-gap: 3rem 4rem;
  align-items: start;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 1.5rem 2.5rem;
}
.feature__icon {
  width: 4.5rem;
  height: 4.5rem;
  grid-row: 1/span 2;
  transform: translateY(-1rem);
}
.feature__text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 113%;
  color: #425844;
}

.gamers {
  background-color: #101D2C;
  grid-column: col-start 7/full-end;
  display: grid;
  grid-template-columns: max-content;
  grid-gap: 4rem 2rem;
  align-content: center;
  justify-content: center;
}
@media only screen and (max-width: 900px) {
  .gamers {
    grid-column: 1/-1;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    justify-items: center;
    padding: 5rem 0;
  }
}
@media only screen and (max-width: 420px) {
  .gamers {
    grid-template-columns: min-content;
    justify-items: start;
  }
}
.gamers_box {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 2rem;
}

.gamers-header {
  grid-column: 1/-1;
  justify-self: center;
}

.gamers-img {
  width: 7rem;
}

.gamers-text {
  align-self: center;
  align-self-font-size: 1.6rem;
}

.score {
  font-size: 1.6rem;
  color: #AAAAAA;
  font-weight: 300;
}

.banner-img {
  background-color: #101D2C;
  grid-column: full-start/col-end 4;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(24, 1fr);
  background: url(./src/img/Galary_imgs/background.png) center/cover no-repeat;
}
@media only screen and (max-width: 900px) {
  .banner-img {
    grid-column: 1/-1;
  }
}

.banner-img__img-1 {
  width: 100%;
  grid-column: 3/15;
  grid-row: 10/23;
}
@media only screen and (max-width: 900px) {
  .banner-img__img-1 {
    grid-column: 2/10;
  }
}

.banner-img__img-2 {
  width: 100%;
  grid-column: 5/-1;
  grid-row: 3/12;
  transform: translateX(3.5rem);
}
@media only screen and (max-width: 900px) {
  .banner-img__img-2 {
    grid-column: 8/15;
  }
}

.banner-text {
  background-color: #101D2C;
  grid-column: col-start 5/full-end;
  padding: 4rem;
  display: grid;
  align-content: center;
  justify-items: start;
}
@media only screen and (max-width: 900px) {
  .banner-text {
    grid-column: 1/-1;
    grid-row: 5/6;
  }
}
.banner-text__text {
  margin-bottom: 4rem;
}

.sidebar {
  background-color: #425844;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
  padding-top: 3.7rem;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 1170px) {
  .sidebar {
    grid-row: 1/2;
    grid-column: 1/-1;
    justify-content: end;
    align-items: center;
    padding: 0 4rem 0 0;
  }
}

.hamburger {
  border: none;
  background-color: #F5F5F5;
  height: 0.2rem;
  width: 4.5rem;
}
.hamburger::before, .hamburger::after {
  content: "";
  background-color: #F5F5F5;
  height: 0.2rem;
  width: 4.5rem;
  display: block;
}
.hamburger::before {
  transform: translateY(-1.5rem);
}
.hamburger::after {
  transform: translateY(1.5rem);
}

.gallery {
  background-color: #101D2C;
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1rem;
  padding: 1.5rem;
}

.gallery-img-1 {
  grid-column: 1/3;
  grid-row: 1/3;
}

.gallery-img-2 {
  grid-column: 3/span 3;
  grid-row: 1/span 3;
}

.gallery-img-3 {
  grid-column: 6/span 1;
  grid-row: 1/span 2;
}

.gallery-img-4 {
  grid-column: 7/-1;
  grid-row: 1/span 2;
}

.gallery-img-5 {
  grid-column: 1/span 2;
  grid-row: 3/span 3;
}

.gallery-img-6 {
  grid-column: 3/span 2;
  grid-row: 4/span 2;
}

.gallery-img-7 {
  grid-column: 5/6;
  grid-row: 4/5;
}

.gallery-img-8 {
  grid-column: 6/span 2;
  grid-row: 3/span 2;
}

.gallery-img-9 {
  grid-column: 8/-1;
  grid-row: 3/span 3;
}

.gallery-img-10 {
  grid-column: 1/2;
  grid-row: 6/span 2;
}

.gallery-img-11 {
  grid-column: 2/span 2;
  grid-row: 6/span 2;
}

.gallery-img-12 {
  grid-column: 4/5;
  grid-row: 6/span 2;
}

.gallery-img-13 {
  grid-column: 5/span 3;
  grid-row: 5/span 3;
}

.gallery-img-14 {
  grid-column: 8/-1;
  grid-row: 6/span 2;
}

.gallery-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background-color: #101D2C;
  grid-column: full-start/full-end;
  padding: 8rem 3rem;
  border-top: solid 0.3rem #F5F5F5;
}

.logo {
  display: block;
  margin-bottom: 8rem;
}

.logo img {
  display: block;
  margin: 0 auto;
}

.nav-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-items: center;
  grid-gap: 3.5rem;
}

.link:link, .link:visited {
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #F5F5F5;
  text-decoration: none;
  text-align: center;
  transition: 0.3 all;
}
.link:link:hover, .link:link:active, .link:visited:hover, .link:visited:active {
  color: #AAAAAA;
  transform: translateY(-0.3rem);
}

.btn {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #F5F5F5;
  background-color: #61A568;
  border: 0;
  padding: 1.5rem 3rem;
}
.btn:hover {
  background: #425844;
}

.mg-sm {
  margin-bottom: 3rem;
}/*# sourceMappingURL=style.css.map */
